h1{
    color: #FFBB00;
}

#logo-cell{
    text-align: right;
}

#form-table{
    width: 100%;
}

#menu-table{
    width: 75%;
    border: 1px solid black;
    background-color: #808080;
    border-collapse: collapse;
}

#menu-table td{
    border: 1px solid black;
    text-align: center;
}

.header-row{
    font-weight: bold;
}